@use 'src/variables' as v;

.course-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 20%;
	background: v.$course_card-bg;
	padding: 1rem;
	&__title {
		text-align: center;
	}
	&__info {
		display: flex;
		flex-direction: column;
		list-style: none;
		gap: 1.5rem;
		&-description {
			word-wrap: break-word;
		}
	}
	button:hover {
		opacity: 0.7;
		transform: none;
	}
}