@use 'src/variables' as v;

.btn {
  padding: .5rem 1rem;
  background: v.$btn-bg;
  border: none;
  color: v.$btn-c;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all .5s ease-out;
  &:hover {
    transform: translateY(-5px);
  }
}