@use 'src/variables' as v;

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  background: v.$header-bg;
  span {
    margin-left: auto;
    margin-right: 5%;
    color: v.$header_span-c;
    font-size: 1.5rem;
  }
}