.courses {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
  }
}