@use 'src/variables' as v;

.authors {
	display: flex;
	flex-direction: column;
	& > div {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		padding: .5rem;
	}
	.author {
		display: flex;
		justify-content: space-between;
	}
	&_added {
		border-bottom: 1px solid v.$authors_border-c;
	}
	&_course {
		border-top: 1px solid v.$authors_border-c;
	}
}