@use 'src/variables' as v;

.create-course {
	background-color: v.$add-course_bg;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	width: 30%;
	.close {
		font-size: 1.5rem;
		border: none;
		background: none;
		position: absolute;
		right: .5rem;
		top: .5rem;
		transition: transform .5s ease;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		button {
			&:hover {
				transform: none;
				opacity: .7;
			}
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	&__duration {
		p {
			margin-top: 1rem;
			font-size: 1.3rem;
		}
	}
	.add-author {
		button {
			margin-top: 1rem;
		}
	}
}