@use 'src/variables' as v;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    background: v.$main-bg;
  }
}